<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="5" name="TestLoginPage">
	<parameter name="browser" value="chrome" />
	<classes>
		<class name="com.endavatraining.TestLoginPage" />
	</classes>
</test>
<test thread-count="5" name="TestHomePage">
	<parameter name="browser" value="chrome" />
	<classes>
		<class name="com.endavatraining.TestHomePage" />
	</classes>
</test>
<test thread-count="5" name="TestRegisterNewAccountPage">
	<parameter name="browser" value="chrome" />
	<classes>
		<class name="com.endavatraining.TestRegisterNewAccountPage" />
	</classes>
</test>
	<test thread-count="5" name="TestBrokenLinkPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endavatraining.TestBrokenLinkPage" />
		</classes>
	</test>
    <test thread-count="5" name="TestGalleryPage">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.endavatraining.TestGalleryPage" />
        </classes>
    </test>
    <test thread-count="5" name="TestAdminPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endavatraining.TestAdminPage" />
		</classes>
	</test>
</suite> <!-- Suite -->
